.emoji-drop-down {
  z-index: 50;
  position: absolute;
  width: 320px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  background-color: white;
  top: 35%;
  left: 33%;
  border-radius: 16px;
  border: none;
}

.emoji-drop-down-top {
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #aab8c2;
  padding: 4px 4px 0 4px;
}

.emoji-drop-down-search {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #aabbc2;
  padding-left: 32px;
  outline: none;
  margin-bottom: 2px;
}

.emoji-drop-down-search:focus {
  border: 2px solid #1da1f2;
  outline: none;
}

.emoji-drop-down-search::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.emoji-drop-down-categories {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.emoji-drop-down-category-wrapper {
  width: 35px;
  height: 39px;
}

.emoji-drop-down-category {
  width: 33px;
  height: 33px;
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

.emoji-inactive {
  filter: grayscale(100%);
}

.emoji-inactive:hover {
  filter: grayscale(0%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.emoji-drop-down-category-underline-active {
  height: 4px;
  width: 100%;
  background-color: #1da1f2;
  border-radius: 2px;
}

.emoji-drop-down-selector {
  width: 100%;
  height: 255px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.emoji-drop-down-selector-section {
  width: 100%;
  height: fit-content;
}

.emoji-drop-down-selector-section-title {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 800;
  position: sticky;
  top: 0;
}

.emoji-drop-down-selector-emoji-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 12px;
}

.emoji-drop-down-emoji {
  height: 30px;
  width: 30px;
  font-size: 18px;
  cursor: default;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.emoji-drop-down-emoji:hover {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.emoji-drop-down-bottom {
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.emoji-drop-down-current-emoji {
  height: fit-content;
  width: fit-content;
  font-size: 26px;
}

.emoji-drop-down-skin-tone-selector {
  width: fit-content;
  height: fit-content;
}

.emoji-drop-down-skin-tone-selector-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2px;
}

.emoji-drop-down-skin-tone-selected {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-drop-down-skin-tone-option {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

#light {
  background-color: rgb(247, 222, 206);
}

#light:hover {
  border: 1px solid rgba(247, 222, 206, 0.3);
}

#medium-light {
  background-color: rgb(243, 210, 162);
}

#medium-light:hover {
  border: 1px solid rgba(243, 210, 162, 0.3);
}

#medium {
  background-color: rgb(213, 171, 136);
}

#medium:hover {
  border: 1px solid rgba(213, 171, 136, 0.3);
}

#medium-dark {
  background-color: rgb(175, 126, 87);
}

#medium-dark:hover {
  border: 1px solid rgba(175, 126, 87, 0.3);
}

#dark {
  background-color: rgb(124, 83, 62);
}

#dark:hover {
  border: 1px solid rgba(124, 83, 62, 0.3);
}

#none {
  background-color: rgb(255, 220, 93);
}

#none:hover {
  border: 1px solid rgba(255, 220, 93, 0.3);
}
