.bottomless-modal-bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottomless-modal-box {
  width: 600px;
  max-height: 650px;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.bottomless-modal-scrollbox {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.bottomless-modal-top {
  height: 50px;
  width: 100%;
  z-index: 5px;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  background-color: rgba(256, 256, 256, 0.5);
  backdrop-filter: blur(10px);
}

.bottomless-modal-content {
  max-height: 600px;
  height: fit-content;
  width: 100%;
}
