HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# personal ignore:

# Ignore specific sensitive files
src/main/resources/credentials.json
tokens/**
tokens/StoredCredential
tokens/gmail_token

# Để đảm bảo, thêm các pattern tổng quát
**/credentials.json
**/StoredCredential
**/gmail_token

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
