.conversation-container {
  height: 100%;
  padding: 0px 16px;
  overflow-y: scroll;
}
.conversation-messages {
  height: fit-content;
  min-height: 74px;
  padding-top: 8px;
}
.conversation-container-bottom {
  width: 100%;
  height: 8px;
}

.message-content-options {
  width: 75px;
  height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
}
.message-content-option-wrapper {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100%;
  border: none;
}
.message-content-option-wrapper:hover {
  cursor: pointer;
  background-color: rgba(29, 161, 242, 0.2);
}
