.post-more {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post-more:hover {
  background-color: rgba(29, 161, 242, 0.2);
}
