.profile-top-bar {
  width: 100%;
  height: 55px;
  padding-left: 16px;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-top-bar-left {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
}

.profile-top-bar-left:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-top-bar-right {
  width: fit-content;
  height: fit-content;
}

.profile-top-bar-name-section {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.profile-top-bar-name {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.profile-top-bar-posts {
  font-size: 13px;
  font-weight: 400;
  color: #aab8c2;
  margin: 0;
  padding: 0;
}
