.post-more-modal {
  height: fit-content;
  width: 330px;
  background-color: rgb(251, 246, 246);
  border-radius: 12px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  overflow: hidden;
}

.post-more-modal-option {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 12px;
  padding: 12px;
}

.post-more-modal-option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.post-more-modal-option-text {
  font-weight: 800;
  font-size: 15px;
}
