@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.bg-color {
  background-color: #fefcff;
}

.bg-blue {
  background-color: #1d9bf0;
}

.color-blue {
  color: #1d9bf0;
}

.bg-red {
  background-color: red;
}

.color-red {
  color: red;
}

.bg-gray {
  background-color: #536471;
}

.color-gray {
  color: #536471;
}
