.post {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  padding: 0;
  margin: 0;
}

.post-body-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  padding-top: 8px;
}

.post-repost-info {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  padding: 0;
  margin: 0;
  padding: 6px 28px;
}

.post-left {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 16px;
}

.post-pfp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  object-fit: cover;
}

.post-right {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 8px;
}

.post-right-top {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-user-info {
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
}

.post-username {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: #657786;
}

.post-posted-at {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: #657786;
}

.post-organization {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.post-action-bar-count {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  bottom: 4px;
  right: -4px;
}
