.register-name-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.register-name-content {
  width: 48%;
  margin: 0;
  padding: 0;
}

.register-name-error {
  color: red;
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
}
