.messages-bar {
  height: 50px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.5);
  backdrop-filter: blur(10px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: sticky;
  top: 0;
}

.messages-bar-open {
  width: 381px;
}

.messages-bar-closed {
  width: 400px;
}

.unread-messages {
  background-color: #1da1f2;
}

.messages-bar-header-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.messages-bar-header {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
}

.messages-bar-conversation-name {
  width: fit-content;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.messages-bar-username {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: #657786;
}

.messages-bar-icon-group {
  display: flex;
  gap: 2px;
}

.messages-bar-icon-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-bar-icon-wrapper:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
