.layout-page {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 1280px) {
  .layout {
    width: 1200px;
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-areas: "one two three";
  }

  .layout-navigation-section {
    grid-area: one;
    min-height: 100vh;
    height: fit-content;
    width: 260px;
  }

  .layout-content-section {
    grid-area: two;
    min-height: 100vh;
    height: fit-content;
    width: 624px;
    margin-right: 32px;
  }

  .layout-info-section {
    grid-area: three;
    min-height: 100vh;
    height: fit-content;
    width: 400px;
  }
}
