.feed-post-creator-poll {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid rgb(207, 217, 222);
}

.feed-post-creator-poll-choices {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgb(207, 217, 222);
  padding: 12px;
}

.feed-post-creator-poll-choice {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-post-creator-poll-choice-wrapper-min {
  width: 90%;
  margin-bottom: 12px;
}
.feed-post-creator-poll-choice-wrapper-max {
  width: 100%;
  margin-bottom: 12px;
}

.feed-post-creator-poll-choice-add {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.feed-post-creator-poll-choice-add-hover {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-post-creator-poll-choice-add-hover:hover {
  background-color: rgba(29, 161, 242, 0.2);
  cursor: pointer;
}

.feed-post-creator-poll-length {
  width: 100%;
  height: fit-content;
  padding: 12px;
  border-bottom: 1px solid rgb(207, 217, 222);
}

.feed-post-creator-poll-length-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: #657786;
  margin-bottom: 8px;
}

.feed-post-creator-poll-length-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 12px;
}

.feed-post-creator-poll-button {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4212e;
  font-size: 15px;
  font-weight: 400;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.feed-post-creator-poll-button:hover {
  cursor: pointer;
  background-color: rgba(244, 33, 46, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
