.feed-post-creator-poll {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid rgb(207, 217, 222);
}

.feed-post-creator-poll-choices {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgb(207, 217, 222);
  padding: 12px;
}

.feed-post-creator-poll-choice {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-post-creator-poll-choice-wrapper-min {
  width: 90%;
  margin-bottom: 12px;
}
.feed-post-creator-poll-choice-wrapper-max {
  width: 100%;
  margin-bottom: 12px;
}

.feed-post-creator-poll-choice-add {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.feed-post-creator-poll-choice-add-hover {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-post-creator-poll-choice-add-hover:hover {
  background-color: rgba(29, 161, 242, 0.2);
  cursor: pointer;
}
