.feed-post-creator-tag-people-modal-top {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.feed-post-creator-tag-people-modal-top-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed-post-creator-tag-people-modal-top-close {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-post-creator-tag-people-modal-top-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.feed-post-creator-tag-people-modal-top-text {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: Ubuntu, sans-serif;
}

.feed-post-creator-tag-people-modal-done {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.feed-post-creator-tag-people-modal-done:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
