.feed-post-creator-gif-modal-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.feed-post-creator-gif-modal-top-close-bg {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-post-creator-gif-modal-top-close-bg:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.feed-post-creator-gif-modal-top-input-wrapper {
  width: 490px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  border: solid 1px rgb(207, 217, 222);
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper-inactive {
  border: solid 1px rgb(207, 217, 222);
  justify-content: center;
}

.input-wrapper-active {
  border: solid 1px #1da1f2;
  justify-content: flex-start;
}

.feed-post-creator-gif-modal-search {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-post-creator-gif-modal-top-input {
  height: fit-content;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  caret-color: #1da1f2;
  background-color: transparent;
}

.feed-post-creator-gif-modal-top-clear-border {
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 4px;
}

.feed-post-creator-gif-modal-top-clear-border:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.feed-post-creator-gif-modal-top-clear-input {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 12px;
  padding-bottom: 2px;
  cursor: pointer;
}
