.feed-post-creator-audience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 24px;
  font-size: 14px;
  padding: 2px;
  border-radius: 50px;
  position: relative;
}

.everyone {
  color: #1da1f2;
  border: 1px solid #aab8c2;
}

.circle {
  color: rgb(0, 186, 124);
  border: 1px solid rgb(0, 186, 124);
}

.everyone:hover {
  background-color: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}

.circle:hover {
  background-color: rgba(0, 186, 124, 0.05);
  cursor: pointer;
}

.feed-post-creator-audience-dropdown {
  width: 260px;
  height: 192px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
  z-index: 50;
}

.feed-post-creator-audience-dropdown-title {
  color: black;
  margin: 0;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.feed-post-creator-audience-dropdown-choice {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.feed-post-creator-audience-dropdown-choice:hover {
  background-color: #f8f8f8;
}

.feed-post-creator-audience-dropdown-choice-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-post-creator-audience-dropdown-choice-everyone-bg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.feed-post-creator-audience-dropdown-choice-circle-bg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(0, 186, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.feed-post-creator-audience-dropdown-choice-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 800;
}

.feed-post-creator-audience-dropdown-choice-circle-group {
  margin: 0;
  padding: 0;
}

.feed-post-creator-audience-dropdown-circle-info {
  width: 150px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-post-creator-audience-dropdown-circle-info-amount {
  margin: 0;
  font-weight: 600;
  color: black;
  margin-right: 2px;
}

.feed-post-creator-audience-dropdown-circle-people {
  margin: 0;
  font-weight: 400;
  color: #657786;
}

.feed-post-creator-audience-dropdown-circle-info-edit {
  margin: 0;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 800;
  text-decoration: underline;
}

.feed-post-creator-audience-dropdown-circle-info-edit:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
