.messages-popup-container {
  width: 100%;
  height: fit-content;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 16px;
}

.messages-popup {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  z-index: 100;
  border: 1px solid #e1e8ed;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
}

.messages-closed {
  height: 50px;
}

.messages-open {
  height: 480px;
  overflow-y: scroll;
}

.messages-popup-content {
  width: 100%;
  height: fit-content;
  padding: 8px 16px;
}
