.create-post-text-area {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: relative;
}

.create-post-text-area-content {
  width: 507px;
  position: absolute;
  word-break: break-all;
  /* z-index: -10; */
  padding: 0;
  margin: 0;
  padding-left: 2px;
  padding-top: 19px;
}

.create-post-text-area-creator-input {
  resize: none;
  height: 30px;
  overflow: hidden;
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  color: transparent;
  z-index: 100;
  caret-color: black;
}

.input-active {
  margin-top: 15px;
  margin-bottom: 10px;
}

.create-post-text-area-creator-input::selection {
  background: rgba(51, 153, 255, 0.4);
  color: transparent;
}

.create-post-text-area-creator-input:focus {
  outline: none;
}
