h1 {
  margin: 0;
  padding: 0;
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #536471;
  margin: 0;
}

.reg-step-four-subhead {
  margin-bottom: 30px;
}

.reg-step-four-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-step-four-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reg-step-four-input {
  margin-bottom: 10px;
}

.reg-step-four-invalid {
  color: red;
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 5px;
}

.reg-step-four-check-group {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  margin-top: 15px;
}

.reg-step-four-link {
  font-size: 15px;
  font-weight: 400;
  color: #1da1f2;
  cursor: pointer;
}

.reg-step-four-link:hover {
  text-decoration: underline;
}
