.reg-step-six-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-step-six-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reg-step-six-password {
  position: relative;
  margin-bottom: 20px;
}

.reg-step-six-icon {
  position: absolute;
  bottom: 2px;
  right: 15px;
  cursor: pointer;
}
