.feed-post-creator-images {
  width: 100%;
  height: fit-content;
}

.feed-post-creator-images-container {
  height: 345px;
  width: 98%;
  display: flex;
  row-gap: 12px;
  column-gap: 12px;
}

.container-even {
  flex-wrap: wrap;
  flex-direction: row;
}

.container-odd {
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
}
