.post-username-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.post-username-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 800;
}

.post-username-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
