.post-username-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.post-username-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 800;
}

.post-username-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-username-repost-user {
  font-size: 13px;
  color: #657786;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.post-username-repost-user:hover {
  cursor: pointer;
  text-decoration: underline;
}
