.notification-users-text {
  margin: 0;
  margin-top: 8px;
  margin-left: 48px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.notification-users-text-bold {
  font-weight: 900;
}
