.login-form-one-container {
  width: 55%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-form-header {
  margin-top: 0;
  font-size: 34px;
  font-weight: 600;
}

.login-form-one-buttons-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login-form-one-divider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.login-form-one-line {
  width: 100%;
  height: 1px;
  background-color: #cfd9d3;
}

.login-form-one-or {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}

.login-form-one-text {
  margin: 0;
  margin-top: 40px;
}

.login-form-one-error {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 5px;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.login-form-two-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form-two-password {
  width: 100%;
  position: relative;
  margin-top: 25px;
  margin-bottom: 0;
}

.login-form-two-password-icon {
  position: absolute;
  bottom: 32px;
  right: 15px;
  cursor: pointer;
}

.login-form-two-forgot {
  font-size: 13px;
  margin-top: 0;
  margin-left: 10px;
}

.login-form-two-forgot:hover {
  text-decoration: underline;
  cursor: pointer;
}
