.right-side-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 36px;
}

.right-side-bar-logo {
  height: 40px;
  width: 40px;
}

.right-side-bar-h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Ubuntu", "sans-serif";
}

.right-side-bar-h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Ubuntu", "sans-serif";
  margin: 0;
  margin-bottom: 32px;
}

.right-side-bar-signup-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.right-side-bar-divider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-side-bar-line {
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.right-side-bar-or {
  font-size: 15px;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
}

.right-side-bar-legal {
  font-size: 11px;
  margin: 0;
  margin-bottom: 20px;
}

.right-side-bar-login-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
}

.right-side-bar-h3 {
  font-size: 17px;
  font-weight: 600;
}
