.create-reply-bottom {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.submit-reply-button {
  width: 70px;
  height: 36px;
  border-radius: 18px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}

.reply-button-active {
  background-color: #1da1f2;
  color: white;
  cursor: pointer;
}

.reply-button-active:hover {
  background-color: #1a91da;
}

.reply-button-inactive {
  color: white;
  background-color: rgba(29, 161, 242, 0.2);
}

.create-reply-submit-group {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 12px;
}
