.login-modal-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}

.login-modal-top-left {
  width: 33%;
}

.login-modal-top-shadow {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  border-radius: 100%;
  font-size: 24px;
  font-weight: 400;
}

.login-modal-top-shadow:hover {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}

.login-modal-top-middle {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal-top-right {
  width: 33%;
}

.login-modal-top-logo {
  width: 30px;
  height: auto;
}
