.feed-top-bar {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgba(170, 184, 194, 0.25);
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  border-color: rgba(256, 256, 256, 0.5);
  backdrop-filter: blur(10px);
}

.feed-top-bar-top {
  width: 100%;
  height: fit-content;
  padding: 16px;
}

.feed-top-bar-home {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.feed-top-bar-bottom {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.feed-top-bar-choice {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.feed-top-bar-choice:hover {
  background-color: rgba(170, 184, 194, 0.25);
  cursor: pointer;
}

.feed-top-bar-choice-text-active {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feed-top-bar-choice-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #536471;
  margin-bottom: 14px;
}

.feed-top-bar-choice-underline {
  width: 100%;
  height: 4px;
  background-color: #1da1f2;
  border-radius: 2px;
  margin-top: 10px;
}
