.post-banner {
  padding-left: 12px;
  width: 100%;
  height: 53px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  background-color: rgba(256, 256, 256, 0.5);
  backdrop-filter: blur(10px);
}

.post-banner-back-container {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-banner-back-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.post-banner-header {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
}
