.reg-step-five-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-step-five-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #536471;
  margin: 0;
  margin-bottom: 30px;
}

.reg-step-five-message {
  color: #1da1f2;
  cursor: pointer;
  font-size: 13px;
  margin-left: 10px;
}

.reg-step-five-message:hover {
  text-decoration: underline;
}
