.location-modal-content {
  width: 100%;
  height: fit-content;
}

.location-modal-content-top {
  padding: 12px;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #657786;
  padding-bottom: 24px;
}

.location-modal-content-address-info {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.location-modal-content-address-info-text {
  font-size: 14px;
  color: #657786;
  font-weight: 400;
  margin-left: 12px;
}

.location-modal-content-label {
  font-size: 15px;
  color: #657786;
  font-weight: 400;
  margin-bottom: 0;
}

.location-modal-content-address-group {
  width: 100%;
  height: fit-content;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

/* .location-modal-content-address-input-wrapper {
  width: 42%;
} */

.schedule-post-modal-calendar-selector-wrapper {
  width: 18%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-modal-content-detail-group {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 8px;
}

.location-modal-content-province-selector-wrapper {
  width: 33%;
}

.location-modal-content-district-selector-wrapper {
  width: 33%;
}
.location-modal-content-ward-selector-wrapper {
  width: 33%;
}

.location-modal-content-time-zone {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.location-modal-content-bottom {
  width: 100%;
  height: fit-content;
  padding: 12px;
}

.location-modal-content-scheduled-post-bg {
  width: fit-content;
  height: fit-content;
  padding: 2px 8px;
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-modal-content-scheduled-post-bg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  cursor: pointer;
}

.location-modal-content-scheduled-post {
  width: fit-content;
  height: fit-content;
  margin: 0;
  color: #1da1f2;
  font-size: 14px;
  font-weight: 400;
}
